/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$color-dark-blue: #001f3f;
$color-green: #50c878;
$color-purple: #6a0d6d;

$color-yellow: #ffbb00;
$color-orange: #ff7f50;
$color-light-blue: #00bfff;

$color-ivory: #fffff0;
$color-light-grey: #708090;
$color-dark-grey: #36454f;

/* Dark Blue */
:root {
    --dark-blue-lightest: #003366;
    --dark-blue-light: #00274d;
    --dark-blue-base: #001f3f;
    --dark-blue-dark: #000a1a;
    --dark-blue-darkest: #000000;
}

/* Green */
:root {
    --green-lightest: #77e0a1;
    --green-light: #66d06b;
    --green-base: #50c878;
    --green-dark: #3a9a56;
    --green-darkest: #2c6c3e;
}

/* Purple */
:root {
    --purple-lightest: #9a4f9a;
    --purple-light: #8c1f8c;
    --purple-base: #6a0d6d;
    --purple-dark: #4b004b;
    --purple-darkest: #2f0032;
}

/* Yellow */
:root {
    --yellow-lightest: #ffde66;
    --yellow-light: #ffcc33;
    --yellow-base: #ffbb00;
    --yellow-dark: #cc9900;
    --yellow-darkest: #996600;
}

/* Orange */
:root {
    --orange-lightest: #ff9d6f;
    --orange-light: #ff8c5f;
    --orange-base: #ff7f50;
    --orange-dark: #cc6440;
    --orange-darkest: #994d30;
}

/* Light Blue */
:root {
    --light-blue-lightest: #66d4ff;
    --light-blue-light: #33c4ff;
    --light-blue-base: #00bfff;
    --light-blue-dark: #0099cc;
    --light-blue-darkest: #0077aa;
}

/* Ivory */
:root {
    --ivory-lightest: #ffffff;
    --ivory-light: #ffffe6;
    --ivory-base: #fffff0;
    --ivory-dark: #e0e0d0;
    --ivory-darkest: #d0d0c0;
}

/* Light Grey */
:root {
    --light-grey-lightest: #9ca3a5;
    --light-grey-light: #8a9a9c;
    --light-grey-base: #708090;
    --light-grey-dark: #4f5f5f;
    --light-grey-darkest: #2e3e3f;
}

/* Dark Grey */
:root {
    --dark-grey-lightest: #4b5b66;
    --dark-grey-light: #2e3c43;
    --dark-grey-base: #36454f;
    --dark-grey-dark: #1e2b33;
    --dark-grey-darkest: #0f1a1f;
}